.nom, .prenom, .mail{

   
   border-radius: 10px;
   
}

.mail:hover {

   border:2px solid  #6300a0;
}

.prenom:hover {

   border: 2px  solid #6300a0;
}
.nom:hover {

   border: 2px solid #6300a0;
}

.mail:invalid {
   background: #b20a37;
   border: 3px solid violet;
   color: white;
}

.prenom:invalid {

   background: #b20a37;
   border: 3px solid violet;
   color: white;
}
.nom:not(:focus):invalid {

   background:#b20a37;
   border: 2px solid violet;
   color: #fff;
}

.balll{

   width: 400px;
   height: 400px;
   background-color: violet;
   border-radius: 50%;
   transform: scale(1);
   transition-duration: 4000ms;
}

.btn:hover +.ball{

   transform: scale(1.15);


}

.ballon{

   display: flex;
   flex-direction: column;
   


}
.ball{

   text-align: center;
   width: 100px;
   color: white;
   height: 100px;
   margin: 100px auto;
   background-color: rgb(55, 31, 31);
   position: relative;
   animation-name: square;
   animation-duration: 4s;
   animation: square 4s linear 2s infinite alternate backwards running; ;

}



@keyframes square {

   0%   {
      background-color:red;
      left: 0;
      top: 0;
   
   
   }

   25% {
      background-color:red;
      right:500px;
      top:0;
   
   }

   50% {
      
      background-color:red;
      right:500px;
      top:500px;
      border-radius: 50px;
   
   
   }

   75% {
      background-color:red;
      right: 5px;
      top: 500px;

   
   }

   100% {
      background-color: blue;
      right:0;
      top: 0;
      border-radius: 0;
   
   
   }




}
