@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');



body{
    font-family: "Montserrat";
    font-size:15px;
    background-color: #24252A;
}

p{
    color: #FFF;
}

header{
   
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
   
}

.logo{
    padding-bottom: auto;
    padding-left: 10px;
    margin-bottom: 13%;
    position:static;
    margin-top: auto;
   
}

.boutton{
    
    
    padding-left: 0;
    padding-right: 0;
    margin-right: 100px;
    margin-left: 50px;
    height: 0;
    margin-top: 20px;
    width: 0;
    border: none;
    
}

button{
    border-radius: 35%;
    cursor: pointer; 
    background-color: rgb(30, 56, 82);
    border-color:#24252A ;
    color: white;
    
}

header nav{                 
    width: 70%;
    margin-left: 400px;
    padding-top: 8px;
}

header nav ul{
   
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    vertical-align: top;
    position:static;
}

header nav ul li .sub-menu{

    display: none;
  
}


header nav ul li:hover .sub-menu{

    display: flex;
    flex-direction: column;
   
}

.menu{
    margin-left: 0;
    text-decoration: none;
    color: rgb(38, 71, 97);
    display: flex;
    padding-bottom: 5px;
    position: relative;
    justify-content: space-between;
    font-weight:bold;
    

}

header nav ul li .menu:hover{
   color: dimgrey;
    
}

.sub-menu{
    padding-left: 0;
    margin-left:0 ;
    margin-top: 0;
    width: 90px;
    height: 200px;
    font-weight: bold;
    align-items: center;
    padding-top: 0;
    background-color: aquamarine;
    position: absolute;
    opacity: 0.65;
}

.sub-menu a:hover {
    
    display: flex;
    color: rgb(186, 149, 0);
}


.fonderie{
    margin-top: 200px;
    display: flex;
    margin-bottom: 350px;
}

a{
    text-decoration: none;
    color: black;
}


section{

    position:relative;
    
    height: 100vh;
    
}
section .aside1{

    border: 1px solid black;
    display: block;
    width: 20%;
    height: 450px;
    padding-left: 30px;
    padding-right: 20px;
    position: absolute; top:130px; right:10px;
    overflow:auto;
    border-radius: 20px;
    background-color: rgba(165, 42, 42, 0.666);

}

section article .imagehtml{
    display: block;
    width: 110%;
    height: 110%;
    margin-left: 5%;
    margin-top: 0%;
    background-color: rgb(211, 206, 198);
    padding-top: O;
    border-radius: 10% ;
    box-shadow: 10px 5px 20px  rgb(109, 109, 109);
   
   
}

.webphoto{
width: 50%;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 70px;
opacity 0.5;
filter:invert(100%);
border-radius: 10% 10% 10% 10%;
box-shadow: 10px 10px 10px goldenrod;
height: 10vh;
}


h1{
    color:rgb(0, 0, 0);
    font-style: oblique;
    font-size: 30px;
    font-weight: bold;
    
    
}



section article .imagehtml{
    display: block;
    width: 90%;
    height: 40vh;
    margin-left: 5%;
    margin-top: 0%;
    padding-top: O%;
    border-radius: 10%;
    box-shadow: 10px 5px 20px  rgb(109, 109, 109);
   
   
}

.article1{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    
   
}


.titre1, .para1{
    position: absolute;
    border:solid 2px black;
    display: block;
    font-weight: bolder;
    width: 80%;
    height: 50vh;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 3px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(165, 42, 42, 0.666);
   
}

section article .para1{

    position:relative; bottom:100px;left: 8%;
}

section article .titre1{

    position: relative; top: 15%; left: 9%;
    
}

section article .sous-ecrit{

    position: relative; bottom: 170px; left: 12%;
    text-decoration:underline;

}

#fleche{

    position: relative; bottom: 220px; left: 25%;
}


    



section .aside2{

    border: 1px solid black;
    display: block;
    width: 20%;
    height: 450px;
    padding-left: 30px;
    padding-right: 20px;
    position: absolute; bottom:150px; right:10px;
    overflow:auto;
    border-radius: 20px;
    background-color: rgba(165, 42, 42, 0.666);

}




.article2 {


    display: block;
    flex-direction: column;
    width: 50%;
    height: 40vh ;
    position: relative;
    padding-bottom: 90px;
    background-color: rgba(58, 58, 57, 0.646);
    border: 2px black solid;
    border-radius: 20%;
    margin-left: 30px;
    padding-top: 0;
    box-shadow: 10px 5px 20px  rgb(109, 109, 109);
    margin-top: 0;
}



.photoblog{
    background-color: brown;
    width: 80%;
    height: 35vh;
    display: block;
    position: absolute;left: 40px; top: 30px;
    border-radius: 20%;
    opacity: 0.7;
    margin-top: 0;
    
    
}

.exerlogo{
    
    width: 10vh;
    z-index: 2;
    margin-top: 0;
    position: absolute; top: 0;

   
}

.titre2{
    
    z-index: 3;
    margin-left: 15%;
    width: 20%;
    position: absolute; left: 20px;top: 20px;
    color:rgb(52, 44, 3);

}


.para2{
    width: 90%;
    position:absolute ; z-index: 4;
    display: block;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: rgba(165, 42, 42, 0.666);
    margin-top:480px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 30px;
    padding-right: 0px;
}
.sous-ecrit1{

    position: absolute; top:550px ;bottom: 0; right: 90px;
    color:brown;
    text-decoration: underline;
}

.fleche1{

    position:relative;bottom: 20px; right: 0;
}





.logoGit, .logoFacebook{
   
    width: 60px;
    height: 60px;
}




footer{
    background-color: rgb(15, 3, 52);
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    height: 5vh;
    padding-bottom: 3%;
    margin-top: 250px;
    
}